@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
  color: rgb(32, 31, 31);
  background-color: rgb(255, 78, 161);
}

code {
  background: #d0d0d5;
}
h1 {
  color: black; 
  font-weight: bold;
  text-align: center;
}
h3 {
  color: black;  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 95%;
  margin: 15px;
  margin-left: 0;
  text-align: center;
}

textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-left: -2px;
}

#user-stories {
  font-size: 1.2em;
}

#output-container,
#solution-container,
#text-input {
  height: 150px;
}
#locale-select {
  font-size: 1.1em;
  border-radius: 8px;
  padding: 10px;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgb(0, 255, 255); 
}
input[type="button"] {
  font-size: 1.1em;
  border-radius: 8px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: rgb(0, 255, 255); 
}

#output-container {
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#solution-container {
  font-weight: bold;
  margin-left: 0;
  height: fit-content;
  min-height: 200px;
}

#translated-sentence {
  margin-top: 10px;
  height: fit-content;
  margin-bottom: 20px;
  font-weight: normal;
}

#error-msg {
  font-weight: normal;
  color: rgb(0, 0, 0);
}

.highlight {
  font-size: 1.2ems;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 234);
}

#text-input {
  padding: 10px;
}
.config {
  display: flex;
  justify-content: space-evenly;
}
.description {
  margin-top: 40px;
}
.me {
  margin-top: 50px;
  font-size: 1.3em;
  text-align: center;
  font-weight: bold;
  color: black;
}
@media (min-width: 800px) {
  textarea {
    margin: 15px;
  }
  .container {
    flex-direction: row;
  }

  .form-container {
    align-self: flex-end;
  }

  #output-container {
    flex-direction: row;
    margin-top: 0;
    margin-left: 20px;
    width: 50%;
  }

  #solution-container {
    width: 75%;
    margin-top: 0;
    margin-left: 20px;
  }
}
